<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   
    <div class="container" id='vue'>
       
        <div class="form-control" >
            <input type="text" v-model="inputData" autofocus id="input" placeholder="enter image URL"/>
            <button class="btn" @click="imagesPush">Добавить</button>
        </div>
             
                
        <div class="image__inner" >
            
            <img  v-for="item in images" 
            :src='item' 
            @click="deleteImage(item)">
            </img>               
                               
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   
    <script src="main.js"></script>  
 
</body>
</html>
